**/bin/
**/obj/
**/node_modules/
**/.next/
**/TestResults/
**/coverage/
**/.turbo/
.git/
.github/
.idea/
.vscode/
**/*.user
**/*.suo
**/*.db
**/*.log
**/.env
**/.env.*
!**/.env.example
README.md
docs/
